@import "../theme.scss";
 
.heading{
   color:  $title-color;
}
.setPosition{
 display: flex;
 justify-content: center ;
 margin-top: 100px;
 height: 300px;
// position: relative;

 //  border: $feild-border;
//  padding-top:100px ;
//  padding-left: 512px;
//  padding-right: 100px;
//  padding-bottom: 100px;
  
input[type=text]:focus{
    border: $feildFocus-border;
}
.field1{
     border: $feild-border;
 }
 .field1:hover {
     border: $feildHover-border;
  }
.field2{
    border: $feild-border;
}
.field2:hover {
    border: $feildHover-border;
 }
 .selectColor{
     color: $feildFocus-border;
 }
.changeColor{
    color: $feildHover-border;
    background-color: $title-color;
    border: $feildFocus-border;
    cursor: pointer;
}
.changeColor:hover {

        background-color: $backColor;
        border: $feildHover-border;
 }

}