@import "../theme.scss";
 
.heading{
   color:  $title-color;
}
.setPosition{
 display: flex;
 justify-content: center ;

 .field1{
     border: 1px solid gray;
 }
 .field1:hover {
     border:1px solid blue;
  }
}
 