.Items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // justify-content: flex-end;
    padding: 50px;
    background-image:radial-gradient(rgb(5, 4, 94),rgb(141, 103, 231));
      
}