.container{
    background-color: whitesmoke;
    margin-top: -7px;
    width: 1050px;
    margin-left: 106px;
    padding-bottom: 150px;
}

.subcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 2;
   
}
.subcontainer > div {
    margin: 20px;
}