.overall{
    
    background-image: radial-gradient(rgba(92, 10, 10, 0.198),rgba(121, 24, 24, 0.842)
    );
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.img{
    width: 200px;
    height: 100px;
    }

.user{
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(68, 39, 14);
}

.title{
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 150px;
    cursor: pointer;
    overflow-wrap: break-word ;
}

.title:hover{
    overflow: visible;
}

.id{
    text-align: center;
    font-size: 1rem;
}
