$title-color: #28d33f;
$focusBorderColor: 3px solid #d579e7;
$focusBackgroundColor: #fff;
$buttonBorder:0;
$feild1 : 1px solid black;
$homeButtonColor : #d21919;
$borderColor:  #1976d2;
$feildHover-border : 2px solid black;
$feildFocus-border : 2px solid #424de4;
$backColor :#191cd2;
$buttonTextColor : #fff;